* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

/* rem ăn theo font-size của html */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* Commom */
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 2);
  overflow: hidden;
}

/* Header */
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar img {
  margin-right: 50px;
}
.navbar ul {
  display: flex;
}

.navbar ul li a {
  font-weight: 500;
  font-style: 1.4rem;
  color: #4f5361;
  padding: 10px 14px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .actions .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.actions .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

/* Hero */

.hero {
  margin-top: 130px;
}

.hero .infor {
  width: 51%; /* Do container width=1110px phai chia ti le vi nam trong container */
}

.hero .infor .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.hero .infor .title {
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19; /* 118.75% */
  margin-top: 8px;
  margin-bottom: 30px;
}

.hero .infor .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
  margin-bottom: 40px;
}

.hero-btn {
  min-width: 170px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* Cliens */

.cliens {
  margin-top: 122px;
}

.cliens .row {
  display: flex;
  justify-content: space-between; /*Co the vao starts margin-left: auto*/
}

.cliens .row-desc {
  margin-top: 23px;
}
.row p {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.cliens .adv-img {
  margin-top: 70px;
}

/* Guides */
.guides {
  margin-top: 170px;
}

.guides .sub-title {
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  position: relative;
}

.guides .sub-title::before {
  display: inline-block;
  content: "";
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  left: calc(50% - (41px / 2));
  top: -13px;
}

.guides .desc {
  margin: 20px auto 0;
  width: 41%;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9; /* 187.5% */
}

.guides .container:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.guide-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-items h3 {
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  margin-top: 26px;
  margin-bottom: 10px;
}

.guide-items a {
  color: #0689ff;
  font-size: 14px;
  font-weight: 600;
}

.guide-items .icon-aim {
  margin-left: 8px;
}

.guides .container:last-child {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.guides .btn {
  min-width: 170px;
}

/* Featured */

.featured {
  background-color: #f5fafe;
  margin-top: 120px;
  padding: 110px 0;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.featured .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9; /* 187.5% */
}

.featured .link {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 8px;
}

.featured .link .icon-aim {
  position: relative;
  top: -1px;
  margin-left: 8px;
}

/* List Items */

.featured .list-items {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.list-items .item {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
}

.list-items .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.item .body {
  padding: 17px 20px 24px;
}

.body .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
.body .desc {
  --line-clamp: 3;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 11px;
  margin-bottom: 22px;
}

.body .infor {
  display: flex;
  align-items: center;
}

.infor .icon {
  margin-right: 8px;
}
.infor .icon:nth-of-type(2) {
  margin-left: 23px;
}
.infor .icon:nth-of-type(3) {
  margin-left: 23px;
}
.infor .label {
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}
